go 1.27.0

use (
	./apps/gateway
	./go-packages/billing
	./go-packages/database
	./go-packages/features
	./go-packages/identity
	./go-packages/mailer
	./go-packages/proto
	./go-packages/telemetry
	./tools
)
